/** CSS STYLE **/

.visual{
    color: #303846;
    font-size: 16px;
}
.fixed{
    position: fixed;
    top: 0;
    left:0px;
    right:0px;

    z-index: 1000;
}
.bg-w{
    background-color: white;
    height: 50px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.row{
    display: flex;
}
.pad10{
    padding-left: 10px;
}
.sizel{
    width: 40px;
    height: 40px;
    padding-top: 5px;
}
.pad30{
    padding-right: 30px;
}
.pad10r{
    padding-right: 10px;
}
.block{
    position: relative;
    box-sizing: border-box;
    height: 500px;
}
.block .back{
    height: 500px;
    min-width: 100%;
    z-index: -1;
}
.block .filling{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    z-index: 2;
}
.bt{
    color: white;
    background-color: transparent;
}
.w1000{
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.w200{
    width: 200px;
    margin-right: 60px;
}
.w500{
    width: 500px;
}
.floatr{
    height: 150px;
    width: 190px;
    float: right;
    margin-left: 50px;
}
.bg{
    background-color:#f7f7f7;
}
.floatl{
    height: 150px;
    width: 210px;
    float: left;
    margin-right: 50px;
}
.reverse{
    flex-direction: row-reverse;
}

footer{
    background-color: green;
    height: 600px;
}
