/** CSS STYLE **/

.visual{
    color: #303846;
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.fixed{
    position: fixed;
    top: 0;
    left:0px;
    right:0px;

    z-index: 1000;
}
.bg-w{
    background-color: white;

    font-weight: bold;

    height: 60px;
    padding: 5px 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.row{
    display: flex;
}
.ls{
    list-style: none;
}
.not{
    text-decoration: none;
    color:#303846;
}
.sizel{
    align-self: center;

    width: 40px;
    height: 40px;
    padding-right: 20px;
}
.indent{
    padding-right: 20px;
}
.block{
    position: relative;
    box-sizing: border-box;

    width: 1000px;
    height: 800px;

    padding: 60px 0;
}
.block .back{
    background-size: cover;
    width: 100%;
    height: 800px;

    z-index: -1;
}
.block .filling{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-align: center;

    z-index: 2;
}
.highlight{
    font-size: 3em;

    margin: 0;
}
.set{
    font-size: 20px;

    margin: 0;
}
.sizel2{
    width: 300px;
    height: 300px;

    margin-bottom: 20px;
}
.bt{
    color: white;
    background-color: transparent;

    font-size: 1em;
    font-weight: bold;

    border-radius: 10px;
    border-color: white;

    padding: 10px;
    margin-top: 15px;
}
.center{
    display: flex;
    justify-content: space-around;

    width: 1000px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;
}
.h200{
    height: 200px;
}
.block-info{
    width: 30%;
}
h2{
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.bg-f7{
    background-color: #f7f7f7;
}
.pd60{
    padding: 60px 0;
}
.ai{
    align-items: center;
}
.block-info2{
    width: 45%;
}
.floatr{
    float: right;

    height: 200px;
    width: 30%;
}
.floatl{
    float: left;

    height: 200px;
    width: 30%;
}
.reverse{
    flex-direction: row-reverse;
}
.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    border-color: #09d3ac;

    width: 400px;
}
.legend{
    color: #09d3ac;
    font-size: 20px;
}
.distance{
    margin: 20px 0;
}
.bold{
    font-weight: bold;
}
.pad100{
    padding-right: 100px;
}
.w200{
    width: 200px;
}
.pd20{
    padding-right: 15px;
}
.nonb{
    border: none;
}
.bt2{
    color: #09d3ac;
    border-color: #09d3ac;
}
.f-start{
    display: flex;
    align-self: flex-start;

    width: 428px;
}
.mar-t15{
    margin-top: 15px;
}
.footer{
    background-color: #303846;
    color: white;

    height: 200px;
    width: 100%;
}
.wrap{
    flex-wrap: wrap;

    width: 230px;
}
.pad0{
    padding-left: 0;
}
h3{
    font-size: 1em;
}
